body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas{
    border: 5px solid black;
    width: 600px;
    height: 600px;
}

.controller{
    font-size: 1.4rem;
    top: 10px;
    position: absolute;
}

select{
    font-size: 1.5rem;
}